/*Portada*/

.blog-container-cover{
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: #3C88A3;;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.tituloblog{
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    margin-top: 50px;
}

.parrafoblog{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #f6f6f6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}



@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }
}
